.App {
  text-align: center;
  height: 1000px;
  background-color: black;
  background-image: url(imgs/stock-vector-supermarket-grocery-store-food-drinks-vegetables-fruits-fish-meat-dairy-sweets-market-1502193866.jpg);
}

